.sidebar {
  position: fixed;
  width: 100px;
  height: 100%;
  top: 0;
  left: 0;
  padding-top: 16px;
  z-index: 10;
  background-color: var(--nb-color-bg-light);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar__logo-container {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  margin: auto;
  border: 3px solid var(--nb-color-gray-light);
  margin-bottom: 4px;
  transition: all 0.3s ease-in-out;
}

.sidebar__link--active > .sidebar__logo-container {
  border: 3px solid var(--nb-primary-color);
}

.sidebar__logo {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.sidebar__links {
  flex-direction: column;
  display: flex;
  text-align: center;
}

.sidebar__link {
  padding-bottom: 16px;
  text-decoration: none;
  color: var(--nb-color-text);
  font-size: 14px;
}

.sidebar__link--bottom {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.sidebar__burst-logo img {
  height: 40px;
  margin: auto;
  margin-bottom: 20px;
}
