.NbFileUpload {
  position: relative;
  margin-bottom: 20px;
}

.NbFileUpload__input {
  display: none;
}

.NbFileUpload__container {
  display: flex;
}

.NbFileUpload__preview {
  padding-left: 20px;
  height: 50px;
}

.NbFileUpload__image {
  object-fit: cover;
  height: 100%;
}

.NbFileUpload__area {
  border: 2px dashed var(--nb-primary-color);
  border-radius: 3px;
  display: block;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  min-width: 400px;
}

.NbFileUpload__area:hover {
  border: 2px dashed var(--nb-primary-hover);
}
