.step-three {
}

.step-three__button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 200px;
}

.step-three__edu-container {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--nb-color-line);
}

.step-three__combined-line {
  display: flex;
  justify-content: space-between;
}

.step-three__ug-oh {
  margin: 20px 0;
}
