.Wizard {
}

.Wizard__sidebar {
  width: 100%;
  background-color: white;
  border-bottom: 2px solid rgb(234, 234, 234);
  border-radius: 8px 0px 0px;
  margin-bottom: 20px;
  display: flex;
  position: relative;
}

.Wizard__logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
}

.Wizard__logo__src {
  height: 20px;
}

.Wizard__steps {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  width: 100%;
  margin: 20px auto;
  padding: 0;
}

.Wizard__step-item {
  width: 100%;
  list-style: none;
  position: relative;
  text-align: center;
  border-bottom: 1px solid var(--nb-color-gray-dark);
  font-size: 12px;
  transition: all 0.6s ease-in-out;
}

.Wizard__step-item--current {
  font-weight: 800;
}

.Wizard__step-item:before {
  content: "";
  background: var(--nb-color-gray-dark);
  position: absolute;
  bottom: 0;
  right: 0;
  height: 25%;
  width: 1px;
}

.Wizard__step-item:after {
  content: "";
  background: var(--nb-color-gray-dark);
  position: absolute;
  bottom: 0;
  left: 0;
  height: 25%;
  width: 1px;
}

.Wizard__step-item:first-child:before {
  content: "";
  height: 0;
}

.Wizard__step-item:last-child:after {
  content: "";
  height: 0;
}

.Wizard__progress {
  background-color: var(--nb-primary-color);
  height: 4px;
  position: absolute;
  transition: 0.3s linear all;
  width: 0%;
  bottom: -4px;
  position: absolute;
}

.Wizard__progress--current {
  width: 50%;
  transition-delay: 300ms;
}

.Wizard__progress--complete {
  width: 100%;
}

.Wizard__content {
  max-width: 600px;
  margin: auto;
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: all ease-in-out 500ms;
}
.fade-exit {
  opacity: 0;
}
.fade-exit-active {
  opacity: 1;
  transition: all ease-in-out 500ms;
}
