:root {
  --nb-primary-color: #1278ed;
  --nb-primary-hover: #0e60be;
  --nb-color-text: #334150;
  --nb-color-error: #ff3100;
  --nb-color-success: #00b2a3;
  --nb-color-gray-dark: hsl(209, 16%, 63%);
  --nb-color-gray-light: #fff8ff;
  --nb-color-bg-dark: #89bcf6;
  --nb-color-bg-light: #e7f2fd;
  --nb-color-line: #0e60be;
  --nb-border-radius: 4px;
}

* {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

html {
  font-family: "Roboto", sans-serif;
  background-color: var(--nb-color-bg-light);
}
